# OS garbage
.DS_Store
[Dd]esktop.ini
[Tt]humbs.db

# Build output
/coverage/
/node_modules/
/lib/
/out/
/dist/
/.webpack/
/doc/api/
/*.tgz

# Crash logs and backups
/*.log
*~
*.psd
*.bak

# Temporary stuff
sandbox/
